{% extends 'registration/reg_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Password Reset
{% endblock %}
{% block content %}
<div class="container-login100">
    <div class="wrap-login100 p-6">
        <form class="login100-form validate-form" action="" method="post">
            {% csrf_token %}
            <span class="login100-form-title">
                Change Password
            </span>
                {{form|crispy}}
            
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn btn-primary">Submit</button>
                </div>
            <div class="text-center pt-3">
                <p class="text-dark mb-0"><a href="{% url 'login' %}" class="text-primary ml-1">Back to Login?</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}