{% extends 'registration/reg_base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %}
Password Reset
{% endblock %}
{% block content %}
<div class="col-md-6 col-sm-6">
    <div class="sign-bg">
        {% if validlink %}

        <h3>Reset Your Password</h3>
        <form method='POST' class='input-email'>
            {% csrf_token %} {{form|crispy}}
            <div class="login-btn">
                <button type="submit" name="" class="btn">Reset</button>
            </div>
        </form>
        {% else %}
        <h3 style="color: red;">Invalid Token!</h3>
        <p><a href="{% url 'password_reset' %}">Request new token?</a></p>
        {% endif %}

    </div>
</div>
{% endblock %}
