{% extends 'registration/reg_base.html' %}
{% load static %}
{% block title %}
Password Reset
{% endblock %}
{% block content %}

<div class="col-md-6 col-sm-6">
    <div class="sign-bg">
        <h3>Welcome Back</h3>
        <p>Your password changed successfully</p>
            <div class="remember-me">
                <p>Please, Login with your new password</p>
            </div>
            <div class="login-btn">
                <button class='btn'><a href="{% url 'login' %}">Login</a></button>
            </div>
    </div>
</div>

{% endblock %}


<div class="container-login100">
    <div class="wrap-login100 p-6">
        <span class="login100-form-title">
            Password Reset Complete
        </span>
        
    </div>
</div>
