{% extends 'registration/reg_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Password Reset {% endblock %}
{% block content %}
<div class="col-md-6 col-sm-6">
    <div class="sign-bg">
        <h3>Oops !!!</h3>
        <p>Forgot password</p>
        <form method='POST' class='input-email'>
            {% csrf_token %} {{form|crispy}}
            <div class="remember-me">
                <label for="html"></label>
                    <a href="{% url 'login' %}">Send me back</a>
                </div>

            <div class="login-btn">
                <button type="submit" name="" class="btn">Send</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}