{% extends "base/base.html" %}
{% load static %}
{% block title %} {{object.product_name}} {% endblock %}
{% block containt %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Product Details</h1>
					<nav class="d-flex align-items-center">
						<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="{{request.path}}">product-details</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="s_Product_carousel">
                        {% if object.thumbnail_image %}
						<div class="single-prd-item">
							<img class="img-fluid" src="{{object.thumbnail_image.url}}" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="{{object.thumbnail_image.url}}" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="{{object.thumbnail_image.url}}" alt="">
						</div>
                        {% else %}
						<div class="single-prd-item">
							<img class="img-fluid" src="" alt="No Image Found">
						</div>						<div class="single-prd-item">
							<img class="img-fluid" src="" alt="No Image Found">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="" alt="No Image Found">
						</div>
                        {% endif %}

					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>{{object.product_name}} </h3>
						<h2>${{object.price}}</h2>
						<ul class="list">
							<li><a class="active" ><span>Category</span> : {{object.product_category|title}}</a></li>
							<li><a ><span>Availibility</span> : {{object.availibility|safe}}</a></li>
						</ul>
						<p>{{object.description}}</p>

						<div class="product_count">
							<label for="qty">Quantity:</label>
							<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
							 class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
							 class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
						</div>

						<div class="card_area d-flex align-items-center">
							<a class="primary-btn" href="#">Add to Cart</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<!--================End Single Product Area =================-->
{% endblock %}