{% extends "base/base.html" %}
{% load static %}
{% block title %} Cart {% endblock %}
{% block containt %} <section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center
            justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="{{request.path}}">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in cart_items %}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="media-body">
                                        <p>{{i.product_name}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>{{i.price}}</h5>
                            </td>
                            <td>
                                <h5>{{i.quantity}}</h5>
                            </td>
                            <td>
                                <h5>{{i.total_price}}</h5>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>Your Cart is Empty</td>
                        </tr> {% endfor %}


                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Total Payable</h5>
                            </td>
                            <td>
                                <h5>{{total_payable}}</h5>
                            </td>
                        </tr>

                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex
                                    align-items-center">
                                    <a class="gray_btn" href="{% url
                                        'product_management:product_list' %}">Continue
                                        Shopping</a>
                                    {% if cart_items %}
                                    <a class="primary-btn" href="{% url
                                        'order:confirmation' cart_obj.id %}">Proceed
                                        to checkout</a>
                                    {% endif %}

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
<!--================End Cart Area =================-->
