<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Reciept</title>
</head>
<body>
	<section class="order_details">
		<div class="container">
			<h3 class="title_confirmation">Thank you. Your order has been received.</h3>
			<div class="row order_d_inner">
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Customer Info</h4>
						<ul class="list">
							<li><a ><span>Name</span> : {{user.first_name}} {{user.last_name}}</a></li>
							<li><a ><span>Phone number</span> : {{user.phone_no}}</a></li>
							<li><a ><span>Alrenet Phone number</span> : {{user.phone_no_2|default_if_none:'not Available'}}</a></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="order_details section_gap">
		<div class="container">
			<div class="row order_d_inner">
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Order Info</h4>
						<ul class="list">
							<li><a ><span>Order number</span> : {{cart_obj.cart_id}}</a></li>
							<li><a ><span>Date</span> : {{cart_obj.created|date:"d/m/Y"}}</a></li>
							<li><a ><span>Total</span> : USD{{cart_obj.total_price}}</a></li>
							<li><a ><span>Payment method</span> : Check payments</a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Billing Address</h4>
						<ul class="list">
							<li><a ><span>Street</span> : {{billing_address.address_1}} {{address.address_2}}</a></li>
							<li><a ><span>City</span> : {{billing_address.city}}</a></li>
							<li><a ><span>Country</span> :  {{billing_address.country.name}}</a></li>
							<li><a ><span>Postcode </span> :  {{billing_address.zipcode}}</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Shipping Address</h4>
						<ul class="list">
							<li><a ><span>Street</span> : {{shipping_address.address_1}} {{shipping_address.address_2}}</a></li>
							<li><a ><span>City</span> : {{shipping_address.city}}</a></li>
							<li><a ><span>Country</span> :  {{shipping_address.country.name}}</a></li>
							<li><a ><span>Postcode </span> :  {{shipping_address.zipcode}}</a></li>
						</ul>
					</div>
				</div>

			</div>
			<div class="order_details_table">
				<h2>Order Details</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						<tbody>
                            {% for i in cart_items %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="media-body">
                                            <p>{{i.product_name}}</p>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <h5>{{i.quantity}}</h5>
                                </td>
                                <td>
                                    <h5>{{i.total_price}}</h5>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
								<td>
									<h4>total</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>${{total}}</p>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Tax</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>${{cart_obj.get_tax}}</p>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Total Payable</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>${{cart_obj.total_payable}}</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</body>
</html>